<div class="breadcrumbs" ng-controller="BreadController">
    <h2>{{ bread[3].name }}</h2>
</div>
<div class="section-container" ng-controller="AboutController">
    <div id="about-image" class="col-md-4 col-sm-4 col-xs-12">
        <img ng-src="{{bio.img}}">
    </div>
    <div id="about-description" class="col-md-7 col-sm-7 col-xs-12">
      <p>Oh hey there, I didn't see you there. I'm Nick Myers and I'm a 30 year old web developer based out of Fresno, CA.I know what you're thinking, "why the armpit of California." To be honest, our tech scene is really sky rocketing since Bitwise Industries emergence. They sucked me into their vortex where I learned so much as well as trained many other web developers that also reside here. My humble beginnings started off after being chosen out of thousands of students to take part in Geekwise Academy's (this is Bitwise learning platform) very first cohort. This is where I was on a team of eight where we took on real world projects for real local business and created their web pages.</p>
      <p>It was a wonderful experience where I learned tons of tools that I use to this day to given my clients great service (some of those skills will show up in my skillset below.) Now I work for a small software startup that helps farmers become more efficient in their decision making by puting their data all in one award winning dashboard. OnFarm allowed me to learn a different skillset which stretched the boundaries of my skills. I learned QA (quality assurance) acceptance testing, as well as various other marketing skills. I was put in charge of our social media accounts, e-mail campaigns, and the marketing site.</p>
      <p>You can check out the past projects that I've done by going to my <a ui-sref="projects">projects page.</a> Also you can see my skillset by clicking the link below.</p>
      <div id="skillset">
          <hr />
          <h2 id="#skillset-button" ng-click="showme = !showme">Reveal/Hide Skillset</h2>
          <skillset-div></skillset-div>
      </div>
    </div>
</div>